<h1>Prontuário do paciente</h1>
<hr>
<main>
    <svg id="voltarPagina" data-bs-toggle="modal" data-bs-target="#modalProntuario" xmlns="http://www.w3.org/2000/svg" width="26" height="26" color="blue" cursor="pointer" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
    </svg>
     <div class="erro-alert" id="erro-alert">
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div><br>
            Um problema inesparado ocorreu. Aguarde alguns minutos e tente novamente. Caso
            o problema persista, entre em contato com os <b>administradores do sistema</b> .    
            <input id="valor-teste" type="hidden" value="{{total_agenda}}">
        </div>
    </div>
    </div>
    <div>
        <section>
            <table class="table table-hover table_prontuario">
                <thead class="thead-table">
                    <tr>
                        <td class="td_prontuario">Paciente</td>
                        <td class="td_prontuario">Data nascimento</td>
                        <td class="td_prontuario">CPF</td>
                        <td class="td_prontuario">Data da consulta</td>
                        <td class="td_prontuario">Sintomas/Queixas</td>
                        <td class="td_prontuario">Outras informações</td>
                        <td class="td_prontuario">Médico</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each dados}}
                    <tr>
                        <td class="td_prontuario"><span>
                                <ion-icon name="person"></ion-icon>
                            </span>{{nm_cliente}}</td>
                        <td class="td_prontuario">{{dt_data}}</td>
                        <td class="td_prontuario">{{nr_hora}}</td>
                        <td class="td_prontuario">{{nm_medico}}</td>
                        <td class="td_prontuario">{{nm_sala}}</td>
                        <td class="td_prontuario">{{nm_telefone}}</td>
                        <td class="td_prontuario"><a href="form-prontuario/editar/{{nr_sequencia}}"><button class="btn btn-success" onclick="carregarSpinners()"><span>
                                        <ion-icon name="information-circle"></ion-icon>
                                    </span> Ver</button></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <hr> <a href="/form-prontuario/cad-prontuario"><button id="link" class="btn btn-primary" onclick="carregarSpinners()"><span>
                        <ion-icon name="person-add"></ion-icon>
                    </span>Novo</button></a>
            <strong><span class="totalCliente">Total {{total_agenda}}</span></strong>
            <a href="/form-prontuario" class="xx"><button id="link" class="btn btn-secondary" onclick="carregarSpinners()"><span>
                        <ion-icon name="funnel"></ion-icon>
                    </span>Reset</button></a>
        </section>
    </div>
</main>

<div class="text-center" id="text-center">
    <div class="spinner-border" role="status" id="spinner-border">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="modal fade" id="modalProntuario" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-filtro">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/form-agenda/filtro-pessoa" method="POST">
                    <label for="">Nome do paciente:</label>
                    <input type="text" class="form-control" name="nome"><br>
                    <label for="">CPF:</label>
                    <input type="text" class="form-control" name="cpf"><br>
                    <label for="">Data:</label>
                    <input type="text" class="form-control" name="data"><br>
                    <label for="">Médico:</label>
                    <input type="text" class="form-control" name="medico"><br>
                    <button type="submit" class="btn btn-success" onclick="carregarSpinners()">Pesquisar</button>
                </form>
            </div>
        </div>
    </div>
</div>
