<h1>Pesquisa realizada pelo filtro</h1>
<hr>
<main>
    <svg id="voltarPagina" data-bs-toggle="modal" data-bs-target="#modalPaciente" xmlns="http://www.w3.org/2000/svg" width="26" height="26" color="blue" cursor="pointer" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
    </svg>
    <div>
        <section>
            <table class="table table-hover">
                <thead class="thead-table">
                    <tr>
                        <th>Nome</th>
                        <th>Cidade</th>
                        <th>Endereço</th>
                        <th>Telefone</th>
                        <th>Data nascimento</th>
                        <th>E-mail</th>
                        <th>Peso(kg)</th>
                        <th>Altura(m)</th>
                        <th>IMC</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each dados}}
                    <tr>
                        <td><span>
                                <ion-icon name="person"></ion-icon>
                            </span> {{nm_cliente}}</td>
                        <td>{{nm_cidade}}</td>
                        <td>{{nm_endereco}}</td>
                        <td>{{nm_telefone}}</td>
                        <td>{{dt_nascimento}}</td>
                        <td>{{nm_email}}</td>
                        <td>{{nr_peso}}</td>
                        <td>{{nm_altura}}</td>
                        <td>{{nm_imc}}</td>
                        <td><a href="editar/{{nr_sequencia}}"><button class="btn btn-success"  onclick="carregarSpinners()"><span>
                                        <ion-icon name="information-circle"></ion-icon>
                                    </span> Ver</button></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <hr>
            <a href="/form-pacient/cad-paciente"><button id="link" class="btn btn-primary" onclick="carregarSpinners()"><span>
                        <ion-icon name="person-add"></ion-icon>
                    </span>Novo</button></a>
            <a href="/form-pacient"><button id="link" class="btn btn-secondary" onclick="carregarSpinners()"><span>
                        <ion-icon name="funnel"></ion-icon>
                    </span>Reset</button></a>
            <strong><span class="totalCliente">Total de clientes {{total_paciente}}</span></strong>
        </section>
    </div>
</main>

<div class="text-center" id="text-center">
    <div class="spinner-border" role="status" id="spinner-border">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="modal fade" id="modalPaciente" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-filtro">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/form-pacient/pesquisa-cliente" method="POST">
                    <label for="">Nome:</label>
                    <input type="text" class="form-control" name="nome"><br>
                    <label for="">Cidade:</label>
                    <input type="text" class="form-control" name="cidade"><br>
                    <button type="submit" class="btn btn-success" onclick="carregarSpinners()">Pesquisar</button>
                </form>
            </div>
        </div>
    </div>
</div>
