<h1>Lista de Paciente</h1>
<hr>
<main>
    <svg id="voltarPagina" data-bs-toggle="modal" data-bs-target="#modalPaciente" xmlns="http://www.w3.org/2000/svg" width="26" height="26" color="blue" cursor="pointer" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
    </svg>
    <div class="erro-alert" id="erro-alert">
        <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div><br>
            Um problema inesparado ocorreu. Aguarde alguns minutos e tente novamente. Caso
            o problema persista, entre em contato com os administradores do sistema.  
            <input id="valor-teste" type="hidden" value="{{total_paciente}}">
        </div>
    </div>
</div>
    <div>
        <section>
            <table class="table table-hover">
                <thead class="thead-table">
                    <tr>
                        <th>Nome</th>
                        <th>Cidade</th>
                        <th>Endereço</th>
                        <th>Telefone</th>
                        <th>Data nascimento</th>
                        <th>CPF</th>
                        <th>Peso(kg)</th>
                        <th>Altura(m)</th>
                        <th>IMC</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each dados}}
                    <tr>
                        <td><span>
                                <ion-icon name="person"></ion-icon>
                            </span> {{nm_cliente}}</td>
                        <td>{{nm_cidade}}</td>
                        <td>{{nm_endereco}}</td>
                        <td>{{nm_telefone}}</td>
                        <td>{{dt_nascimento}}</td>
                        <td>{{nm_cpf}}</td>
                        <td>{{nr_peso}}</td>
                        <td>{{nm_altura}}</td>
                        <td>{{nm_imc}}</td>
                        <td><a href="form-pacient/editar/{{nr_sequencia}}"><button class="btn btn-success"
                                    onclick="carregarSpinners()"><span>
                                        <ion-icon name="information-circle"></ion-icon>
                                    </span> Ver</button></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <hr> <a href="/form-pacient/cad-paciente"><button id="link" class="btn btn-primary"
                    onclick="carregarSpinners()"><span>
                        <ion-icon name="person-add"></ion-icon>
                    </span>Novo</button></a>
            <strong><span class="totalCliente">Total de clientes {{total_paciente}}</span></strong>
        </section>
    </div>
</main>

<div class="text-center" id="text-center">
    <div class="spinner-border" role="status" id="spinner-border">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="modal fade" id="modalPaciente" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-filtro">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/form-pacient/pesquisa-cliente" method="POST">
                    <label for="">Nome:</label>
                    <input type="text" class="form-control" name="nome"><br>
                    <label for="">Cidade:</label>
                    <input type="text" class="form-control" name="cidade"><br>
                    <button type="submit" class="btn btn-success" onclick="carregarSpinners()">Pesquisar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
