<h1>Lista de Paciente</h1>

<main>
    <div class="container">
        <section class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Cidade</th>
                        <th>Endereço</th>
                        <th>Estado</th>
                        <th>E-mail</th>
                        <th>Peso(kg)</th>
                        <th>Altura(m)</th>
                        <th>IMC</th>
                    </tr>
                </thead>
                <tbody class="container">
                    {{#each dados}}
                    <tr>
                        <td><span><ion-icon name="person"></ion-icon></span> {{nome}}</td>
                        <td>{{cidade}}</td>
                        <td>{{endereco}}</td>
                        <td>{{estado}}</td>
                        <td>{{email}}</td>
                        <td>{{peso}}</td>
                        <td>{{altura}}</td>
                        <td>{{imc}}</td>
                        <td><a href="form-pacient/editar/{{id}}"><button class="btn btn-success"><span>
                                        <ion-icon name="information-circle"></ion-icon>
                                    </span> Ver</button></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <a href="/form-pacient/cad-paciente"><button id="link" class="btn btn-primary"><span>
                        <ion-icon name="person-add"></ion-icon>
                    </span>Novo</button></a>
        </section>
    </div>
</main>