<h1>Lista de Paciente</h1>
<hr>
<main>
    <form class="row g-2 form-geral" action="/form-pacient/pesquisa-cliente" method="POST">
        <div class="col-md-7">
            <br>
            <input type="text" class="form-control form-control-lg" name="nome" required>
        </div>
        <div class="col-md-4">
            <br>
            <button type="submit" class="btn btn-success" onclick="carregarSpinners()">
                <ion-icon class="icone-pesquisa" name="search"></ion-icon>
            </button>
        </div>
    </form>
    <div>
        <section>
            <table class="table table-hover">
                <thead class="thead-table">
                    <tr>
                        <th>Nome</th>
                        <th>Cidade</th>
                        <th>Endereço</th>
                        <th>Telefone</th>
                        <th>Data nascimento</th>
                        <th>E-mail</th>
                        <th>Peso(kg)</th>
                        <th>Altura(m)</th>
                        <th>IMC</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each dados}}
                    <tr>
                        <td><span>
                                <ion-icon name="person"></ion-icon>
                            </span> {{nm_cliente}}</td>
                        <td>{{nm_cidade}}</td>
                        <td>{{nm_endereco}}</td>
                        <td>{{nm_telefone}}</td>
                        <td>{{dt_nascimento}}</td>
                        <td>{{nm_email}}</td>
                        <td>{{nr_peso}}</td>
                        <td>{{nm_altura}}</td>
                        <td>{{nm_imc}}</td>
                        <td><a href="form-pacient/editar/{{nr_sequencia}}"><button class="btn btn-success"
                                    onclick="carregarSpinners()"><span>
                                        <ion-icon name="information-circle"></ion-icon>
                                    </span> Ver</button></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <hr> <a href="/form-pacient/cad-paciente"><button id="link" class="btn btn-primary"
                    onclick="carregarSpinners()"><span>
                        <ion-icon name="person-add"></ion-icon>
                    </span>Novo</button></a>
            <strong><span class="totalCliente">Total de clientes {{total_paciente}}</span></strong>
        </section>
    </div>
</main>

<div class="text-center" id="text-center">
    <div class="spinner-border" role="status" id="spinner-border">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
