{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<div class="car_myDiv">
    <div class="car_myDiv1">
        <div class="car_myDiv2">
            <form class="row g-3" action="/form-agenda/editar-agenda" method="POST">
                <h2>
                    <span>
                        <ion-icon name="accessibility"></ion-icon>Paciente {{dados.nome}}
                    </span>
                </h2>
                <hr>
                <div class="col-md-3">
                    <label for="id" class="form-label">Sequência:</label>
                    <input type="text" class="form-control" name="id" value="{{dados.id}}" readonly>
                </div>
                <div class="col-md-7">
                    <label for="paciente" class="form-label">Paciente:</label>
                    <input type="text" class="form-control" name="paciente" value="{{dados.paciente}}">
                </div>
                <div class="col-md-2">
                    <label for="data" class="form-label">Data:</label>
                    <input type="data" class="form-control" name="data" value="{{dados.data}}">
                </div>
                <div class="col-4">
                    <label for="hora" class="form-label">Hora:</label>
                    <input type="text" class="form-control" name="hora" value="{{dados.hora}}">
                </div>
                <div class="col-md-7">
                    <label for="medico" class="form-label">Médico:</label>
                    <input type="text" class="form-control" name="medico" value="{{dados.medico}}">
                </div>
                <div class="col-4">
                    <label for="sala" class="form-label">Sala:</label>
                    <input type="text" class="form-control" name="sala" value="{{dados.sala}}">
                </div>
                <br>
                <div class="col-md-12">
                    <a href="/form-agenda/excluir/{{dados.id}}" class="btn btn-danger" id="link"><span>
                            <ion-icon name="trash"></ion-icon>
                        </span> Excluir</a>
                    <button type="submit" class="btn btn-warning" id="link"><span>
                            <ion-icon name="refresh"></ion-icon>
                        </span>Editar</button>
                    <a href="/form-agenda" class="btn btn-primary" id="link"><span>
                            <ion-icon name="arrow-undo"></ion-icon>
                        </span>Voltar</a><br>
                </div>
            </form>
        </div>
    </div>
</div>