<h1>Agendamentos</h1>
<hr>
<main>
    <form class="row g-2 form-geral" action="/form-agenda" method="POST">
        <div class="col-md-7">
            <br>
            <input type="text" class="form-control form-control-lg" name="nome" required>
        </div>
        <div class="col-md-4">
            <br>
            <button class="btn btn-success" onclick="carregarSpinners()">
                <ion-icon class="icone-pesquisa" name="search"></ion-icon>
            </button>
        </div>
    </form>
    <div>
        <section>
            <table class="table table-hover">
                <thead class="thead-table">
                    <tr>
                        <th class="table_agenda">Paciente</th>
                        <th class="table_agenda">Data da consulta</th>
                        <th class="table_agenda">Hora</th>
                        <th class="table_agenda">Médico responsável</th>
                        <th class="table_agenda">Sala</th>
                        <th class="table_agenda">Telefone</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each dados}}
                    <tr>
                        <td class="table_agenda"><span>
                                <ion-icon name="person"></ion-icon>
                            </span>{{nm_cliente}}</td>
                        <td class="table_agenda">{{dt_data}}</td>
                        <td class="table_agenda">{{nr_hora}}</td>
                        <td class="table_agenda">{{nm_medico}}</td>
                        <td class="table_agenda">{{nm_sala}}</td>
                        <td class="table_agenda">{{nm_telefone}}</td>
                        <td class="table_agenda"><a href="form-agenda/editar/{{nr_sequencia}}"><button class="btn btn-success" onclick="carregarSpinners()"><span>
                                        <ion-icon name="information-circle"></ion-icon>
                                    </span> Ver</button></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <hr> <a href="/form-agenda/cad-agenda"><button id="link" class="btn btn-primary" onclick="carregarSpinners()"><span>
                        <ion-icon name="person-add"></ion-icon>
                    </span>Novo</button></a>
            <strong><span class="totalCliente">Total de agendas {{total_agenda}}</span></strong>
            <a href="/form-agenda" class="xx"><button id="link" class="btn btn-secondary" onclick="carregarSpinners()"><span>
                        <ion-icon name="funnel"></ion-icon>
                    </span>Reset</button></a>
        </section>
    </div>
</main>

<div class="text-center" id="text-center">
    <div class="spinner-border" role="status" id="spinner-border">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
