<h1>Lista de Agenda</h1>
<hr>
<main>
    <div class="container">
        <section class="container">
            <form class="row g-2 form-agenda" action="/form-agenda" method="POST">
                <div class="col-md-7">
                    <br>
                    <input type="text" class="form-control form-control-lg" name="nome" required>
                </div>
                <div class="col-md-4">
                    <br>
                    <button class="btn btn-success">
                        <ion-icon class="icone-pesquisa" name="search"></ion-icon>
                    </button>
                </div>
            </form>
        </section>
    </div>
</main>

<br><br>
<main>
    <div class="container">
        <section class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Paciente</th>
                        <th>Data da consulta</th>
                        <th>Hora</th>
                        <th>Médico responsável</th>
                        <th>Sala</th>
                        <th>Telefone</th>
                    </tr>
                </thead>
                <tbody class="container">
                    {{#each dados}}
                    <tr>
                        <td><span>
                                <ion-icon name="person"></ion-icon>
                            </span>{{nm_cliente}}</td>
                        <td>{{dt_data}}</td>
                        <td>{{nr_hora}}</td>
                        <td>{{nm_medico}}</td>
                        <td>{{nm_sala}}</td>
                        <td>{{nm_telefone}}</td>
                        <td><a href="form-agenda/editar/{{nr_sequencia}}"><button class="btn btn-success"><span>
                                        <ion-icon name="information-circle"></ion-icon>
                                    </span> Ver</button></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <a href="/form-agenda/cad-agenda"><button id="link" class="btn btn-primary"><span>
                        <ion-icon name="person-add"></ion-icon>
                    </span>Novo</button></a>
            <strong><span class="totalCliente">Total de agendas {{total_agenda}}</span></strong>
            <a href="/form-agenda" class="xx"><button id="link" class="btn btn-secondary"><span>
                        <ion-icon name="funnel"></ion-icon>
                    </span>Reset</button></a>
        </section>
    </div>
</main>