<h1>Preencha os campos abaixo</h1>
<hr>
<main>
    <form class="row g-2 form-geral" action="/form-agenda/filtro-pessoa" method="POST">
        <div class="col-md-7">
            <br>
            <input type="text" class="form-control form-control-lg" name="nome" required>
        </div>
        <div class="col-md-4">
            <br>
            <button class="btn btn-success">
                <ion-icon class="icone-pesquisa" name="search"></ion-icon>
            </button>
        </div>
    </form>
    <div class="container">
        <section class="container">
            <button class="btn btn-primary" id="voltarPagina" data-bs-toggle="modal" data-bs-target="#modalAgenda"><span>
                    <ion-icon name="arrow-undo"></ion-icon>
                </span> Cancelar</button>
            <hr>
            <form class="row g-3" action="/form-agenda/cad-novo/agenda" method="POST">
                <div class="col-md-1">
                    <label for="id" class="form-label">Sequência:</label>
                    <input type="text" class="form-control" name="id" value="{{nr_sequencia}}" readonly>
                </div>
                <div class="col-md-6">
                    <label for="paciente" class="form-label">Paciente:</label>
                    <input type="text" class="form-control" name="paciente" value="{{nome_cliente}}" readonly required>
                </div>
                <div class="col-md-3">
                    <label for="ocntato" class="form-label">Contato:</label>
                    <input type="text" class="form-control" name="contato" value="{{nm_contato}}" readonly>
                </div>
                <div class="col-md-5">
                    <label for="endereco" class="form-label">Endereço do paciente:</label>
                    <input type="text" class="form-control" name="endereco" value="{{nm_endereco}}" readonly>
                </div>
                <div class="col-md-3">
                    <label for="nascimento" class="form-label">Data nascimento do paciente:</label>
                    <input type="text" class="form-control" name="nascimento" value="{{dt_nascimento}}" readonly>
                </div>
                <div class="col-md-7">
                    <label for="medico" class="form-label">Médico:</label>
                    <input type="text" class="form-control" name="medico" required>
                </div>
                <div class="col-md-3">
                    <label for="data" class="form-label">Data do agendamento:</label>
                    <input type="date" class="form-control" name="data" required>
                </div>
                <div class="col-3">
                    <label for="hora" class="form-label">Hora:</label>
                    <input type="text" class="form-control" name="hora" required>
                </div>
                <div class="col-4">
                    <label for="sala" class="form-label">Sala:</label>
                    <input type="text" class="form-control" name="sala" required>
                </div>
                <br>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success" id="link" onclick="carregarSpinners()"><span>
                            <ion-icon name="person-add"></ion-icon>
                        </span> Cadastrar</button>
                </div>
            </form>
        </section>
    </div>
</main>

<div class="text-center" id="text-center">
    <div class="spinner-border" role="status" id="spinner-border">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="modal fade" id="modalAgenda" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Atenção!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Se você sair todas as suas alterações não vão ser salvas!</p>
      </div>
      <div class="modal-footer">
        <a href="/form-agenda"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="carregarSpinners()">Sair</button></a>
        <a href="/form-agenda/cad-agenda"><button type="submit" class="btn btn-primary">Continuar</button></a>
      </div>
    </div>
  </div>
</div>
